.buttonMenu {
  display: flex;
  flex-direction: column;
  gap: 4.5px;
  border: none;
  background-color: inherit;
  padding: 0;
}

.line {
  width: 20px;
  height: 2.25px;
  background-color: var(--color-black);
}