.header {
  display: flex;
	padding: 21px 20px;
	border-bottom: 1px solid var(--color-border);
	box-sizing: border-box;
	align-items: center;
	margin-bottom: 11px;
	width: 100%;
}

.line {
  width: 20px;
  height: 2.25px;
  background-color: var(--color-black);
}

.list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.listItem {
	text-transform: uppercase;
	font-weight: 700;
}

.title {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}
