@import url(./assets/fonts/fonts.css);

:root {
  --color-black: #000000;
  --color-title: #096FFA;
  --color-border: #EDEDED;
  --color-primary: #ffffff;
  --color-date: #6D787A;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html { 
  width: 100vw;
  display: flex;
  justify-content: center;
}

body {
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-primary);
  overflow: hidden;
  width: 360px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--color-black);
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
